<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<%= stylesheet_link_tag "/static/blueprint/screen.css" %>
		<%= stylesheet_link_tag "/static/blueprint/print.css", :media => "print" %>
		<!--[if IE]>
			<%= stylesheet_link_tag "/static/blueprint/ie.css", :media => "screen, projection" %>
		<![endif]-->
		<%= stylesheet_link_tag "/static/custom.css"%>
		<%= javascript_include_tag 'getsatisfaction', 'google', 'google2', :cache => true %>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>
			Vision on Tap
		</title>
		<meta name="generator" content="TextMate http://macromates.com/">
		<meta name="author" content="kevin"><!-- Date: 2009-04-05 -->
		<!-- <meta http-equiv="REFRESH" content="0;url=http://distributedcameras2.appspot.com"> -->
	</head>
	<body>
		<div class="container">
			<div class="prepend-top"></div>
			<div class="title large">
				Vision on Tap
			</div>
			<div class="alt small">
				Disclaimer: We're undergoing heavy construction. Things will change without warning.
			</div>
			<hr>
			
			<div class="span-12 right large ">
				<large>Give your camera brains!</large>
			</div>
			
			<div class="span-12 last" id="center_image">
				<%= image_tag "ballcam.jpg"%>
			</div>
			
			<div class="clear">
				
			</div>
			
			<div class="span-8">
				
				<div class="span-8 medium last">
					Awesomeness
				</div>
				<div class="span-8 last">
					<p>To understand Vision on Tap, we must first understand computer vision. What is computer vision? Pure awesomeness. It lets computers use cameras to do crazy things like automatically stitch together panoramas, reconstruct 3D geometry from multiple photographs, and even tell you when the water's boiling.</p>
				
					<p>For decades, this technology has been advancing, mostly within the confines of academic and advanced research institutions. With Vision On Tap, we're going to bring it to the masses.</p>
				</div>
			</div>
			
			<div class="span-8 last">
				<div class="span-8 medium last">
					Privacy
				</div>
				<div class="span-8 last">
					<p><em>Ok, great, so I visit this website that hooks brains into my camera. Now a computer with brains is looking at me. This is weird.</em></p>
					
					<p><strong>Have no fear!</strong> We don't take pictures unless you want them. We can't see you. No one can.</p>
					
					<p>On the flip side, if you actually want to share your pictures, you can!</p>
				</div>
			
			</div>
			
			<div class="span-8">
				<div class="span-8 medium last">
					Demo
				</div>
				<div class="span-8 last">
					Try <a href="/static/spot.html">Spot Watcher</a>. It watches a spot for movement, and then sends you an alert as an audio ping, SMS, email, or Twitter message.
				</div>
			</div>
			
			<div class="span-8">
				<div class="span-8 medium last">
					Alpha
				</div>
				<div class="span-8 last">
					Soon, you'll be able to sign up for the alpha test here! Shape the future of Vision on Tap!
				</div>
			</div>
			
			<div class="span-8 last">
				<div class="span-8 medium last">
					Updates
				</div>
				<div class="span-8 last">
					<div id="twitter_div">
					<h2 style="display: none;" >Twitter Updates</h2>
					<ul id="twitter_update_list"></ul>
					<a href="http://twitter.com/vision_on_tap" id="twitter-link" style="display:block;text-align:right;">follow me on Twitter</a>
					</div>
					<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
					<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/vision_on_tap.json?callback=twitterCallback2&amp;count=5"></script>
				</div>
			</div>
			
			<div class="append-bottom last">
            
			</div>
			
			<hr>
			
			
			<div class="alt span-8 left">
				<a href="/vot.pdf">See the presentation</a>
			</div>
			<div class=" alt footer span-16 last right">
				<a href="http://kevinchiu.org">Kevin Chiu</a><br>
				<a href="http://raskar.info">Ramesh Raskar</a><br>
				<a href="http://media.mit.edu">MIT Media Lab</a>
			</div>
			
			<div class="footer"> 
				<!--
				<a href="http://visionontap.com/privacy">Privacy</a> | 
				<a href="http://visionontap.com/about">Contact</a>
			-->
			</div>
		</div>
		<!-- <div class="container">
					<div class="prepend-top"></div>
					<div class="statement title">Vision on Tap</div>
					<hr>
					<div class="append-bottom"></div>
					<div class="center">
					<img src="/images/cam1.jpg" alt="webcam">
					<a href="example"><img src="/images/cam2.jpg" alt="button"></a>
					</div>
					<div class="center span-24 last alt">
						( Attached camera required )
					</div>
					<hr>
					<div class="alt span-8 left">
						<a href="/vot.pdf">See the presentation</a>
					</div>
					<div class="span-8 center">
						<b>Images captured from your machine are not saved.</b>
					</div>
					<div class=" alt footer span-8 last right">
						<a href="http://kevinchiu.org">Kevin Chiu</a><br>
						<a href="http://raskar.info">Ramesh Raskar</a><br>
						<a href="http://media.mit.edu">MIT Media Lab</a>
					</div>
					
					<div class="append-bottom">

					</div>
				</div> -->
	
	</body>
</html>
